/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* ====== Анимация общая для кнопок ====== */
.button:hover::before {
    transform: translateX(0);
}
/* !===== Конец анимации общей для кнопок =====! */

/* ====== Анимация для иконки сердечка ====== */
.core, .main-body {
    fill: transparent;
    transition: fill 0.3s linear;
}

.card__icon-button:hover .core {
    fill: var(--contour-color, #000);
    transition-delay: 0s;
}

.card__icon-button:not(:hover) .core,
.card__icon-button:not(:active) .core {
    transition-delay: 0.03s;
}

.card__icon-button:hover .main-body {
    fill: var(--contour-color, #000);
    transition-delay: 0s;
}

.card__icon-button:not(:hover) .main-body,
.card__icon-button:not(:active) .main-body {
    transition-delay: 0.05s;
}

.card__icon-button:active .core,
.card__icon-button:active .main-body {
    fill: var(--animation-fill-color, red);
}

/* ====== Блок анимации ====== */
.like-icon.is-liked .core {
    fill: var(--animation-fill-color, red);
    transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
    fill: var(--animation-fill-color, red);
    transition: fill 0.3s linear 0.03s;
}

.like-icon:not(.is-liked) .core {
    transition: fill 0.3s linear;
    transition-delay: 0.03s;
}

.like-icon:not(.is-liked) .main-body {
    transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
    fill: var(--animation-fill-color, red);
    transition: fill 0.3s linear 0.06s;
}

.like-icon:not(.is-liked) .contour {
    transition: fill 0.1s linear;
}

.like-icon.is-liked .heart {
    animation: heart-scale 0.3s ease-in 0.1s 1;
    transform-origin: center;
}

.like-icon.is-liked .sparks {
    animation: sparks-show 0.3s ease-in 0.3s 1;
}

@keyframes heart-scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes sparks-show {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/* !====== Конец блока анимации ======! */
/* !===== Анимация для иконки сердечка =====! */
