/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* ======= Общие стили для самой страницы======= */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-general), sans-serif;
  font-variation-settings: 'wght' var(--font-weight-text, 400);
  padding-top: 100px;
  background: var(--page-background);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.section {
  width: clamp(375px, calc(30.51vw + 261px), 700px);
  background-color: white;
}
/* !======= Конец общих стилей для самой страницы =======! */

/* ======= Стилизация заголовка (блока "Закрывающий тег") ======= */
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #fff;
  font-family: var(--font-accent), fantasy;
  text-transform: uppercase;
  padding: clamp(120px, calc(0.75117vw + 117px), 128px) 0;
  border: var(--border, 2px solid #000);
}

.header__title {
  font-size: clamp(49px, 6vw, 65px);
  font-weight: 400;
  line-height: 1;

}

.header__subtitle {
  font-size: clamp(14px, 2vw, 23px);
}
/* !====== Конец стилизации заголовка (блока "Закрывающий тег") ======! */

/* ======= Стилизация блока карточки ======= */
.block_card__list {
  padding-top: 102px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.block_card__title {
  padding: 3px 10px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-title, 700);
  background-color: #fff;
  align-content: center;
  line-height: 1.3;
  border: var(--border, 2px solid #000);
}

.block_card__image {
  width: 100%;
  height: 100%;
}

/* ====== Набор фильтров - 7 штук ====== */
.filter_blur {
  filter: blur(10px);
}

.filter_contrast {
  filter: contrast(30%);
}

.filter_sepia {
  filter: sepia(80%);
}

.filter_invert {
  filter: invert(0.7);
}

.filter_grayscale {
  filter: grayscale(0.7);
}

.filter_saturate {
  filter: saturate(158%);
}

.filter_multiple {
  filter: saturate(58%) blur(10px) invert(0.7);
}
/* !===== Конец набора фильтров =====! */

.block_card__image-wrapper {
  position: relative;
  height: clamp(375px, calc(30.14vw + 262px), 696px);
  border: var(--border, 2px solid #000);
}

.block_card__marker {
  position: absolute;
  top: 25px;
  right: clamp(13px, calc(8.77px + 1.13vw), 25px);
  font-family: var(--font-accent), fantasy;
  font-size: 14px;
  text-transform: lowercase;
  opacity: 0.5;
  -webkit-text-stroke: 1px #fff;
  text-stroke: 1px #fff;
  @supports not ((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
    text-shadow:  -1px -1px 0 #fff,
                  -1px 1px 0 #fff,
                  1px -1px 0 #fff,
                  1px 1px 0 #fff;
  }
}

.block_card__description {
  border: var(--border, 2px solid #000);
}

.block_card__description-text {
  font-size: 18px;
  padding: 26px 25px 0 25px;
  line-height: 1.182;
}

/* !====== Стилизация кнопки с сердцем ======! */
.card__icon-button {
  background: #fff;
  border: 2px solid transparent;
  padding: 0;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.3s ease;
}

.card__icon-button:hover {
  cursor: pointer;
}

.sparks {
  opacity: 0;
}
/* !====== Конец стилизации кнопки с сердцем ======! */

/* ======= Стилизация кнопок (общие стили) ======= */
.button {
  position: relative;
  background: #fff;
  border: none;
  padding: 0;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease;
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background__button-accent, #000);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button:hover {
  cursor: pointer;
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0 0 #000;
}

.button__text {
  font-family: var(--font-accent), fantasy;
  font-size: 14px;
  position: relative;
  color: var(--color__button-accent, #fff);
  mix-blend-mode: difference;
  transition: color 0.3s ease;
  z-index: 1;
}
/* !======= Конец стилизации кнопок (общие стили) =======! */

.block_card__button {
  padding: 26px 25px 25px 0;
  display: flex;
  gap: 6px;
  align-items: center;
  justify-self: right;
}

.card__like-button {
  border: var(--border, 2px solid #000);
  width: 130px;
}
/* !====== Конец стилизации блока карточки ======! */

/* ====== Стилизация блока "Сохранить на память" ====== */
.section_save {
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}

.button__save {
  height: clamp(55px, calc(84px - 29 * (100vw - 375px) / 1065), 84px);
  width: clamp(306px, calc(306px + 29 * (100vw - 375px) / 1065), 335px);
  border: var(--border, 2px solid #000);
  display: flex;
  gap: 4px;
  flex-direction: row;
}

/* ====== Стилизация иконки дискеты ====== */
.floppy {
  height: 21px;
  width: 21px;
  mix-blend-mode: difference;
  position: relative;
  z-index: 2;
}

.floppy use {
  fill: var(--color__button-accent, #fff);
}
/* !===== Конец стилизации иконки дискеты =====! */
/* !====== Конец стилизации блока "Сохранить на память" ======! */

/* ====== Стилизация диалогового окна ====== */
.dialog__save {
  border: var(--border, 2px solid #000);
  /*padding: 30px clamp(30px, calc(46px - 1.13vw), 42px);*/
  padding: 30px;
  width: clamp(341px, calc(337px + 1.13vw), 353px);
  transition: opacity 0.3s ease-in-out;
}

.dialog__save[open] .dialog__save-title {
  display: grid;
  grid-template-columns: 39px 1fr;
  gap: 17px;
}

.dialog__save[open]::backdrop {
  background: #000;
  opacity: 0.75;
}

.dialog__save-title {
  padding-bottom: 31px;
}

.dialog-save-floppy {
  width: 100%;
  height: 39px;
  align-self: center;
}

.dialog__save-title-text {
  font-family: var(--font-accent), fantasy;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1.5;
}

.dialog__save-close {
  font-family: var(--font-accent), fantasy;
  font-size: 14px;
  text-transform: uppercase;
  border: var(--border, 2px solid #000);
  width: 100%;
  height: 38px;
}
/* !===== Конец стилизации диалогового окна =====! */

/* ===== Блок для адаптивной верстки ===== */
@media (width < 376px) {
  .section {
    width: 100vw;
  }

  .block_card__title {
    padding: 1px 10px;
  }

  .block_card__description-text {
    line-height: 1.173;
  }

  .dialog__save {
    padding: 30px 40px;
  }

  .button__save {
    flex-direction: column;
    gap: 8px;
    padding: 15px 0;
  }

  .floppy {
    height: 28px;
    width: 28px;
  }
}
/* !==== Блок для адаптивной верстки ====! */


